@model Forge.Museum.Interfaces.DataTransferObjects.Artefact.ArtefactInfoDto

@{
    ViewBag.Title = "Details";
    bool fileUploadedBool;
    if(Model.File != null && Model.File.Length != 0)
    {
        fileUploadedBool = true;
    } else
    {
        fileUploadedBool = false;
    }
}

<h2>Details</h2>

<div>
    <h4>ArtefactInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileExtension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtefactInfoType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtefactInfoType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>


        @if (Model.ArtefactInfoType == Forge.Museum.Interfaces.Enumerators.ArtefactInfoType.Text) {
            <dt>
                @Html.DisplayNameFor(model => model.File)
            </dt>
            <dd>
                <text>Text</text>
                @Html.DisplayFor(model => model.File)
            </dd>
        } else if (Model.ArtefactInfoType == Forge.Museum.Interfaces.Enumerators.ArtefactInfoType.Image) { 
            <dt>
                @Html.DisplayNameFor(model => model.File)
            </dt>
            if(fileUploadedBool == false)
            {
                <dd>
                    <text> No photo uploaded yet</text>
                </dd>
            } else {
                <dd><img src="data:image;base64,@System.Convert.ToBase64String(Model.File)" width="160" height="160" /></dd>
            }

        } else if (Model.ArtefactInfoType == Forge.Museum.Interfaces.Enumerators.ArtefactInfoType.Video) { 
            <dd>
                <text>VIDEO</text>
                @Html.DisplayFor(model => model.File)
            </dd>
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
