@using Forge.Museum.Interfaces.Enumerators;
@model Forge.Museum.Interfaces.DataTransferObjects.Artefact.ArtefactInfoDto
<link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Details";
    bool fileUploadedBool;
    if (Model.File != null && Model.File.Length != 0)
    {
        fileUploadedBool = true;
    }
    else
    {
        fileUploadedBool = false;
    }
}

<h2>Details</h2>

<div>
    <h4>Artefact Content ID#@Model.Id - @Model.Description</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.LabelFor(model => model.Id, "Artefact Content ID#:", htmlAttributes: new { @class = "control-label col-md-2" })</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.LabelFor(model => model.FileExtension, "File Extension:", htmlAttributes: new { @class = "control-label col-md-2" })</dt>
        <dd>@Html.DisplayFor(model => model.FileExtension)</dd>

        <dt>@Html.LabelFor(model => model.Description, "Description:", htmlAttributes: new { @class = "control-label col-md-2" })</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>@Html.LabelFor(model => model.Artefact, "Artefact:", htmlAttributes: new { @class = "control-label col-md-2" })</dt>
        <dd>@Html.ActionLink(Model.Artefact.Id.ToString() + ": " + Model.Artefact.Name, "Details", "Artefacts", new { id = Model.Artefact.Id }, null)</dd>

        <dt>@Html.LabelFor(model => model.ArtefactInfoType, "Artefact Media Type:", htmlAttributes: new { @class = "control-label col-md-2" })</dt>
        <dd>@Html.DisplayFor(model => model.ArtefactInfoType)</dd>

        <dt>@Html.LabelFor(model => model.Content, "Content:", htmlAttributes: new { @class = "control-label col-md-2" })</dt>
        <dd>@Html.DisplayFor(model => model.Content)</dd>


        @if (Model.ArtefactInfoType == ArtefactInfoType.Text)
        {

        }
        else
        {
            <dt>
                @Html.LabelFor(model => model.File, "File:", htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>
            if (fileUploadedBool == false)
            {
                    <dd>
                        <text> No media file uploaded yet</text>
                    </dd>
            }
            else
            {
                if (Model.ArtefactInfoType == ArtefactInfoType.Image)
                {
                        <dd><img src="data:image;base64,@System.Convert.ToBase64String(Model.File)" width="160" height="160" /></dd>
                }
                else if (Model.ArtefactInfoType == ArtefactInfoType.Video)
                {
                        <dd>
                            <video width="320" height="240" controls="controls" preload="none">
                                <source src="data:video;base64,@System.Convert.ToBase64String(Model.File)" type="video/mp4" />
                            </video>
                        </dd>
                }
                else if (Model.ArtefactInfoType == ArtefactInfoType.Audio)
                {
                        <dd>
                            <audio controls="controls">
                                <source src="data:audio;base64,@System.Convert.ToBase64String(Model.File)" type="audio/mp3" />
                            </audio>
                        </dd>
                }
            }
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
