<link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";

    //    int numberOfArtefact = ViewBag.TotalArtefacts;

}
<h2>REDLANDS MUSEUM Inc.</h2>
<h3>Display Information and Guidance System</h3>
<h3>Content Maintenance Dasboard</h3>

<div class="content-box column-left">
    <div class="content-box-header">
        <h3>Artefacts</h3>
    </div>
    <div class="content-box-content" style="display: block">
        <div class="tab-content default-tab" style="display: block;">
            <h4>Total Artefacts: </h4>
            <p>Total Artefacts: @ViewBag.TotalArtefacts</p>
            <p>Total Artefact Content Entires: @ViewBag.TotalArtefactContentEntries</p>

            <p><a title="View List of All Artefacts" class="btn btn-default" href="~/Artefacts/">View all &raquo;</a></p>
        </div>
    </div>
</div>

<div class="content-box column-right">
    <div class="content-box-header">
        <h3>Artefacts</h3>
    </div>
    <div class="content-box-content" style="display: block">

        <div class="tab-content default-tab" style="display: block;">
            <h4>Recents: </h4>
            <p>Most Recently Editted Artefact: #@ViewBag.mostRecentArtefactId @ViewBag.mostRecentArtefactName</p>
            <p>Last Editted: @ViewBag.mostRecentArtefactModDate</p>

            <p><a title="View Most Recently Editted Artefact" class="btn btn-default" href="~/Artefacts/Details/@ViewBag.mostRecentArtefactId">View Artefact &raquo;</a></p>
        </div>
    </div>
</div>

<div class="content-box column-left">
    <div class="content-box-header">
        <h3>Exhibitions</h3>
    </div>
    <div class="content-box-content" style="display: block">
        <div class="tab-content default-tab" style="display: block;">
            <h4>Future Exhibitions: </h4>
            @if (ViewBag.FutureExhibitionCount > 0)
            {
                <p>Total Future Artefacts: @ViewBag.FutureExhibitionCount</p>
                <p>Next Upcoming Exhibition: #@ViewBag.NextExhibitionId @ViewBag.NextExhibitionName</p>
                <p>Starting: @ViewBag.NextExhibitionStart</p>
                <p><a title="View Next Upcoming Exhibition" class="btn btn-default" href="~/Exhibitions/Details/@ViewBag.NextExhibitionId">View Exhibition &raquo;</a></p>
            }
            else
            {
                <p>No Future Exhibitions Planned.</p>
            }
            <p><a title="View List of All Exhibitions" class="btn btn-default" href="~/Exhibitions/">View all &raquo;</a></p>
        </div>
    </div>
</div>

<div class="content-box column-right">
    <div class="content-box-header">
        <h3>Merchandise</h3>
    </div>
    <div class="content-box-content" style="display: block">

        <div class="tab-content default-tab" style="display: block;">
            <p>Total Store Items: @ViewBag.TotalStoreItems</p>
            @if (ViewBag.TotalStoreItems == 0 || ViewBag.TotalStoreItems == null)
            {
                <p>Average Item Cost: $-</p>
            }
            else
            {
                <p>Average Item Cost: $@ViewBag.AverageItemCost</p>
            }

            <p><a title="View List of All Store Items" class="btn btn-default" href="~/StoreItems/">View all &raquo;</a></p>
        </div>
    </div>
</div>

<div class="clear"></div>
@if (!Request.IsAuthenticated)
{
    <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
}

