@model Forge.Museum.Interfaces.DataTransferObjects.Tour.TourDto
<link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Delete";
    string tourId = ViewBag.tourId.ToString();
    string tourName = ViewBag.tourName;
    string artefactId = ViewBag.artefactId.ToString();
    string artefactName = ViewBag.artefactName;
}

<h2>Delete</h2>

<h3>Are you sure you want to remove this Artefact from this Tour?</h3>
<div>
    <h4>Tour #@tourId - @tourName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Tour ID: ", tourId)
            Tour ID: 
        </dt>
        <dd>
            @tourId
        </dd>
        <dt>
            @Html.DisplayName("Tour Name: ")
        </dt>
        <dd>
            @tourName
        </dd>
        <dt>
            @Html.DisplayName("Artefact ID: ")
        </dt>
        <dd>
            @artefactId
        </dd>
        <dt>
            @Html.DisplayName("Artefact Name: ")
        </dt>
        <dd>
            @artefactName
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
