@model Forge.Museum.Interfaces.DataTransferObjects.Tour.TourArtefactDto
<link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Delete";
    int tourArtefactId = ViewBag.TourArtefactId;
    string tourArtefactIdString = ViewBag.TourArtefactId.ToString();
    // string tourName = ViewBag.tourName;
    //string artefactId = ViewBag.artefactId.ToString();
    //string artefactName = ViewBag.artefactName;
}

<h2>Delete</h2>

<h3>Are you sure you want to remove this Artefact from this Tour?</h3>
<div>
    <h4>Tour #@Model.Tour.Id - @Model.Tour.Name</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.LabelFor(model => model.Artefact.Id, "Artefact ID:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artefact.Id)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Artefact.Name, "Artefact Name:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artefact.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Order, "Index Position:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>
    </dl>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
    <div>
        <a href="@Url.Action("Index", "ToursArtefacts",  new { tId = Model.Tour.Id })" class="btn btn-link">
            <span class="text-left" aria-hidden="true">Back to List</span>
        </a>

    </div>

</div>
