@model Forge.Museum.Interfaces.DataTransferObjects.Tour.TourArtefactDto
<link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Edit";

    // Get Tour ID
    string tourId = ViewBag.TourID;
    string originalArtefactId = ViewBag.orignalArtefactId;
    string newArtefactId;


    var artefactDropdown = new List<SelectListItem>();
    if (ViewBag.ArtefactList != null)
    {
        artefactDropdown = ViewBag.ArtefactList;
    }
    ViewBag.artefactList = artefactDropdown;


    var tourDropdown = new List<SelectListItem>();
    if (ViewBag.TourList != null)
    {
        tourDropdown = ViewBag.TourList;
    }
    ViewBag.tourList = tourDropdown;

    ViewBag.selectedTourID = tourId;

}

<h2>Edit</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Tour #@Model.Id - @Model.Name </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.Label("Tour: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Tour", tourDropdown, new { htmlAttributes = new { @class = "form-control" } })
            @*          @Html.ValidationMessageFor(model => model.ArtefactCategory, "", new { @class = "text-danger" })
            *@
        </div>
    </div>

    @Html.Hidden("tourId", tourId)
    @Html.Hidden("originalArtefactId", originalArtefactId)



    <div class="form-group">
        @Html.Label("Artefact: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Id, artefactDropdown, new { htmlAttributes = new { @class = "form-control" } })
            @*          @Html.ValidationMessageFor(model => model.ArtefactCategory, "", new { @class = "text-danger" })
            *@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Order, new { htmlAttributes = new { @class = "form-control" } })
            @*          @Html.ValidationMessageFor(model => model.ArtefactCategory, "", new { @class = "text-danger" })
            *@
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" new { tourId=@tourId } />
        </div>
    </div>
    }
    <div>
        <a href="@Url.Action("Index", "ToursArtefacts",  new { tourId = Model.Id })" class="btn btn-link">
            <span class="text-left" aria-hidden="true">Back to List</span>
        </a>

    </div>

</div>


