@model Forge.Museum.Interfaces.DataTransferObjects.Artefact.ArtefactDto
<link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artefact #@Model.Id - @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.LabelFor(model => model.Id, "Artefact ID#:")</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

		<dt>@Html.LabelFor(model => model.UniqueCode, "UniqueCode:")</dt>
		<dd>@Html.DisplayFor(model => model.UniqueCode)</dd>

        <dt>@Html.LabelFor(model => model.Name, "Artefact Name:")</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.LabelFor(model => model.Description, "Description:")</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>@Html.LabelFor(model => model.AcquisitionDate, "Acquisition Date:")</dt>
        <dd>@Html.DisplayFor(model => model.AcquisitionDate)</dd>

        <dt>@Html.LabelFor(model => model.Measurement_Length, "Length:")</dt>
        <dd>@Html.DisplayFor(model => model.Measurement_Length)</dd>

        <dt>@Html.LabelFor(model => model.Measurement_Height, "Height:")</dt>
        <dd>@Html.DisplayFor(model => model.Measurement_Height)</dd>

        <dt>@Html.LabelFor(model => model.Measurement_Width, "Width:")</dt>
        <dd>@Html.DisplayFor(model => model.Measurement_Width)</dd>

        <dt>@Html.LabelFor(model => model.AdditionalComments, "Additional Comments:")</dt>
        <dd>@Html.DisplayFor(model => model.AdditionalComments)</dd>

        <dt>@Html.LabelFor(model => model.ArtefactCategory, "Category:")</dt>
        <dd>@Html.DisplayFor(model => model.ArtefactCategory.Name)</dd>

        <dt>@Html.LabelFor(model => model.Zone, "Zone:")</dt>
        <dd>@Html.DisplayFor(model => model.Zone.Name)</dd>

        <dt>@Html.LabelFor(model => model.Image, "Main Image:")</dt>

        @if (Model.Image == null || Model.Image.Length == 0)
        {
            <dd> No Image uploaded for this Artefact yet </dd>
        }
        else
        {
            <dd>
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" width="160" height="160" />
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
