
@model PagedList.IPagedList<ArtefactDto>
@using PagedList.Mvc;
@using Forge.Museum.BLL.Http;
@using Forge.Museum.Interfaces.DataTransferObjects.Artefact;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";

}

<h2>Artefacts</h2>

<p>
    @Html.ActionLink("Add New Artefact", "Create")
</p>
@using (Html.BeginForm("Index", "Artefacts", FormMethod.Get))
{
    <p>
        Search by Name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<div class="content-box">
    <div class="content-box-header">
        <h3>All Artefacts</h3>
        <ul class="content-box-tabs" style="display: block;">
            <li><a href="#tab1" class="default-tab current">Results</a></li> <!-- href must be unique and match the id of target div -->
            <li>
                @Html.ActionLink("Create New Artefact", "Create")
            </li>

        </ul>
    </div>

    <div class="content-box-content" style="display: block;">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.ActionLink("ID#", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter }, new { @title = "Sort By ID#" })
                    </th>
                    <th>
                        @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @title = "Sort By Name" })
                    </th>
                    <th>
                        @Html.ActionLink("Acquisiton Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }, new { @title = "Sort By Acquisition Date" })
                    </th>
                    <th>
                        @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.CategorySortParm, currentFilter = ViewBag.CurrentFilter }, new { @title = "Sort By Category" })
                    </th>
                    <th>
                        @Html.ActionLink("Zone", "Index", new { sortOrder = ViewBag.CategorySortParm, currentFilter = ViewBag.CurrentFilter }, new { @title = "Sort By Zone" })
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="pagination-sm">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                            <!--    Page at(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of atModel.PageCount-->
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.Image == null || item.Image.Length == 0) { }
                            else
                            {
                                <img class="img-thumbnail" src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="60" height="50" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @item.AcquisitionDate.ToShortDateString()
                        </td>
                        <td>
                            @if (item.ArtefactCategory != null)
                            {
                                @Html.ActionLink(item.ArtefactCategory.Id.ToString() + ": " + item.ArtefactCategory.Name, "Details", "ArtefactCategories", new { id = item.ArtefactCategory.Id }, new { @title = "View Category Details" })
                            }
                        </td>
                        <td>
                            @if (item.Zone != null)
                            {
                                @Html.ActionLink(item.Zone.Id.ToString() + ": " + item.Zone.Name, "Details", "Zones", new { id = item.Zone.Id }, new { @title = "View Zone Details" })
                            }
                        </td>
                        <td>
                            <!-- Edit Button */ !-->
                            <a href="@Url.Action("Edit", "Artefacts",  new { id = item.Id })" class="btn btn-link" title="Edit Artefact">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>|
                            <!-- Details Button */ !-->
                            <a href="@Url.Action("Details", "Artefacts",  new { id = item.Id })" class="btn btn-link" title="Artefact Details">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            </a>|
                            <!-- Delete Button */ !-->
                            <a href="@Url.Action("Delete", "Artefacts",  new { id = item.Id })" class="btn btn-link" title="Delete Artefact">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>|
                            <a href="@Url.Action("Index", "ArtefactInfo",  new { artefactId = item.Id })" class="btn btn-link" title="View Artefact Content">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (ViewBag.Action != null)
{
    <div class="notification success png_bg">
        <div>Success! Artefact <b>#@ViewBag.RecentId</b> <i>@ViewBag.RecentName</i> has been @ViewBag.Action! </div>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <h2>Artefact Categories</h2>
        <p>View and manage categories in which common Artefacts can be grouped by.</p>
        <p><a class="btn btn-default" href="~/ArtefactCategories">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Artefact Zones</h2>
        <p>View and manage zones in which Artefacts can be found within the Museum.</p>
        <p><a class="btn btn-default" href="~/Zones">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Artefact Content</h2>
        <p>Upload and manage content for all Artefacts found within the Museum.</p>
        <p><a class="btn btn-default" href="~/ArtefactInfo">Learn more &raquo;</a></p>
    </div>
</div>