
@model List<ArtefactDto>
@using PagedList.Mvc;
@using Forge.Museum.BLL.Http;
@using Forge.Museum.Interfaces.DataTransferObjects.Artefact;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Artefacts</h2>

<p>
    @Html.ActionLink("Add Artefact", "Create")
</p>


@using (Html.BeginForm("Index", "Artefact", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ID#", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("Acquisiton Date", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Length
        </th>
        <th>
            Width
        </th>
        <th>
            Height
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement_Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement_Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement_Height)
            </td>
            <td>
                <!-- Edit Button */ !-->
                <a href="@Url.Action("Edit", "Artefacts",  new { id = item.Id })" class="btn btn-link">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>|
                <!-- Details Button */ !-->
                <a href="@Url.Action("Details", "Artefacts",  new { id = item.Id })" class="btn btn-link">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>|
                <!-- Delete Button */ !-->
                <a href="@Url.Action("Delete", "Artefacts",  new { id = item.Id })" class="btn btn-link">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    }

</table>
<br />
