
@model PagedList.IPagedList<ArtefactDto>
@using PagedList.Mvc;
@using Forge.Museum.BLL.Http;
@using Forge.Museum.Interfaces.DataTransferObjects.Artefact;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";

}

<h2>Artefacts</h2>

<p>
    @Html.ActionLink("Add Artefact", "Create")
</p>


@using (Html.BeginForm("Index", "Artefacts", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ID#", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Acquisiton Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.CategorySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Length
        </th>
        <th>
            Width
        </th>
        <th>
            Height
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtefactCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement_Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement_Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement_Height)
            </td>
            <td>
                <!-- Edit Button */ !-->
                <a href="@Url.Action("Edit", "Artefacts",  new { id = item.Id })" class="btn btn-link">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>|
                <!-- Details Button */ !-->
                <a href="@Url.Action("Details", "Artefacts",  new { id = item.Id })" class="btn btn-link">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>|
                <!-- Delete Button */ !-->
                <a href="@Url.Action("Delete", "Artefacts",  new { id = item.Id })" class="btn btn-link">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
                <a href="@Url.Action("Index", "ArtefactInfo",  new { artefactId = item.Id })" class="btn btn-link">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<div class="row">
    <div class="col-md-4">
        <h2>Artefact Categories</h2>
        <p>View and manage categories in which common Artefacts can be grouped by.</p>
        <p><a class="btn btn-default" href="~/ArtefactCategories">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Artefact Zones</h2>
        <p>View and manage zones in which Artefacts can be found within the Museum.</p>
        <p><a class="btn btn-default" href="~/Zones">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Artefact Content</h2>
        <p>Upload and manage content for all Artefacts found within the Museum.</p>
        <p><a class="btn btn-default" href="~/ArtefactInfo">Learn more &raquo;</a></p>
    </div>
</div>