@using Forge.Museum.Interfaces.Enumerators;
@model Forge.Museum.Interfaces.DataTransferObjects.Store.StoreItemImageDto
<link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Delete";
    bool fileUploadedBool;
    if (Model.Image != null && Model.Image.Length != 0)
    {
        fileUploadedBool = true;
    }
    else
    {
        fileUploadedBool = false;
    }
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Artefact Content ID#@Model.Id - </h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.LabelFor(model => model.FileType, "File Extension")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            @if (fileUploadedBool == false)
            {
                <dd>
                    <text> No media file uploaded yet</text>
                </dd>
            }
            else
            {
                <dd><img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" width="160" height="160" /></dd>
            }

            }
        }

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
