@using Forge.Museum.Interfaces.Enumerators;
@model Forge.Museum.Interfaces.DataTransferObjects.Store.StoreItemImageDto
<link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Edit";
    bool fileUploadedBool;
    if (Model.Artefact != null && Model.File.Length != 0)
    {
        fileUploadedBool = true;
    }
    else
    {
        fileUploadedBool = false;
    }
    var artefactDropdown = new List<SelectListItem>();

    if (ViewBag.ArtefactList != null)
    {
        artefactDropdown = ViewBag.ArtefactList;
    }

    var multimediaOptions = new List<SelectListItem>()
{
new SelectListItem { Text = "Text", Value = "0"},
new SelectListItem { Text = "Image", Value = "1"},
new SelectListItem { Text = "Video", Value = "2"},
new SelectListItem { Text = "Audio", Value = "3"}

};
}

<h2>Edit</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Artefact Content ID#@Model.Id - </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ArtefactInfoFile" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                @if (fileUploadedBool == false)
                    {
                        <dd>
                            <text> No media file uploaded yet</text>
                        </dd>
                    }
                    else
                    {
                        <dd><img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" width="160" height="160" /></dd>

                    }

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
